<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify"><i>Furama Resort</i> This world class resort, famous for being the culinary
          resort in Vietnam, set on Danang Beach, is a gateway to three World Heritage Sites of Hoi An, My Son
          and Hue.</p>
        <p class="text-justify">The 198 rooms and suites feature tasteful décor, designed with traditional
          Vietnamese style and a touch of French colonial architecture.</p>
        <p class="text-justify">This award-winning resort offers extensive diving spots just off one of the
          world’s most luxurious beaches as well as many other water sports.</p>
        <p class="text-justify">The signature Café Indochine, Don Cipriani’s Italian restaurant, The Fan
          beach-front steak house, Hai Van Lounge, open-air bars and poolside restaurants make the resort a
          warm and cozy, distinctly chic drinking and dining destination.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>

        <p class="text-justify">
          <i class="bi bi-geo-alt-fill"></i>
          103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam.</p>
        <p><i class="bi bi-telephone-fill"></i>Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666</p>
        <p><i class="bi bi-envelope-fill"></i>Email: reservation@furamavietnam.com * www.furamavietnam.com</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">About Us</a></li>
          <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
          <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
          <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a href="#">NhanNguyen</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="bi bi-twitter"></i></a></li>
          <li><a class="instagram" href="#"><i class="bi bi-instagram"></i></a></li>
          <li><a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
